/* ------------------------------- HEADER ------------------------------ */
.header {
  text-align: center;
  z-index: 50;
  width: 100%;
  height: 105px;
  background-color: #0099bb;
}

.logo-uft {
  max-width: 250px;
}

/* ------------------------ CARDS DE BENEFICIOS ------------------------ */
.cartas {
  width: 100%;
  height: 390px;
  border-radius: 0% !important;
  transition: transform 0.2s ease-in-out;
}

.cartas:hover {
  transform: scale(1.05) translateY(0);
}

.imagen-cartas {
  width: 70%;
  padding-bottom: 2px;
}

.cartas-col-animacion {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cartas-col-animacion.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ----------------------------- DESCARGAS ----------------------------- */
.img-descargar-col {
  position: relative;
  z-index: 20;
  margin-top: -100px;
}

.img-descargas-animacion {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.img-descargas-animacion.visible {
  opacity: 1;
  transform: translateY(0);
}

.img-descarga {
  width: 90%;
  transition: transform 0.2s ease-in-out;
}

.img-descarga:hover {
  transform: scale(1.05);
}

/* ------------------------------- FOOTER ------------------------------ */
.footer {
  align-items: center;
  color: white;
  display: flex;
  background-color: #0099bb;
}

/* ------------------------- TÍTULO DE SECCIÓN ------------------------- */

.titulo-seccion-contenedor {
  width: 100%;
  height: 105px;
  background-color: #f23314;
  align-items: center;
  color: white;
  display: flex;
}

.titulo-seccion-texto {
  padding: 10px;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "5avenida";
  align-self: center;
  font-weight: bold;
  margin-bottom: 0%;
}

.titulo-seccion-animacion {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.titulo-seccion-animacion.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ============================== FUENTES ============================== */
.roboto {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "5avenida";
  src: url("fuentes/5thAvenue.ttf") format("tff");
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------- FONDOS ------------------------------ */
body {
  background-image: url("img/fondos/fondo-cel.png");
  background-position: center;
  background-repeat: repeat;
}

/* Media Queries para cambiar el fondo según el dispositivo */
@media (min-width: 768px) {
  body {
    background-image: url("img/fondos/fondo-tablet.png");
  }
}

@media (min-width: 1300px) {
  body {
    background-image: url("img/fondos/fondo-pc.png");
  }
}

@media (min-width: 2000px) {
  body {
    background-image: url("img/fondos/fondo-4k.png");
  }
}
